body{
    background-color: rgb(75, 39, 111);
}

.homepage{
    background-color: rgb(69, 69, 172);
    height: 100vh;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/2177067405/photo/modern-office-interior-with-open-space-and-wooden-shelves-3d-rendering.jpg?s=2048x2048&w=is&k=20&c=nMgVcExvU4hoXtc98_SUb8XGLXLf6gt0lnXz0wLrTrc=") ;
    background-size: 100% 90vh;
    display: grid;
    place-items: center;
}

.homepage .homeContainer{
    height: 40vh;
    width: 51%;
   background-color: rgba(181, 181, 209, 0.6);
    display: grid;
    place-items: center ;
    font-size: larger;
    color:rgb(192, 130, 6);
}

.homepage h1{
    font-size: 60px;
}

.homepage p{
font-size: 35px;
}
.homepage .quote p{
    color: blueviolet;
}